.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer ul > * + * {
  margin-left: 2rem;
}

.footer a:hover {
  opacity: 0.8;
}
