@import 'global.css';
@import 'theme.css';
@import 'layout.css';
@import 'prism-theme.css';
@import 'typography.css';
@import 'postlist.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';

.intro {
  text-align: center;
}

.intro > * + * {
  margin-top: 1rem;
}

.not-found {
  display: grid;
  place-items: center;
}

.not-found h1 {
  font-size: var(--text-6xl);
}

.not-found p {
  font-size: var(--text-3xl);
  text-align: center;
}

.main h1 {
  text-align: center;
}
