.tags > {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.tags {
  margin-top: 0.5rem;
  font-size: var(--text-sm);
}

.tags a {
  text-decoration: none;
}

.post-list__wrapper {
  margin-top: 6rem;
}

.post-list__heading {
  font-size: var(--text-3xl);
}

.post-list {
  list-style: none;
}

.post-list__item {
  display: flex;
  flex-direction: column;
}

.post-list__title {
  font-size: var(--text-2xl);
}

.post-list__title a {
  color: currentColor;
  font-weight: normal;
  text-decoration: none;
}

.post-list > * {
  margin-top: 4rem;
}

.post-list > * + * {
  margin-top: 4rem;
}

.post-list__meta {
  /* opacity: 0.8; */
  font-size: var(--text-sm);
  margin-top: 0.5rem;
}

.post-list__meta > * + * {
  margin-left: 1rem;
}

.post-list__tags {
  /* opacity: 0.8; */
  text-decoration: none;
  font-size: var(--text-sm);
  margin-top: 0.5rem;
}

.post-list__tags a {
  text-decoration: none;
  color: currentColor;
}

.post-list__tags a:hover {
  color: var(--accent);
}

.post-list__tags > * + * {
  margin-left: 1rem;
}

.post-list__excerpt {
  margin-top: 1rem;
}

.post-list__read-more {
  display: inline-block;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--accent);
}

.all-posts-link {
  margin-top: 6rem;
  width: fit-content;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-lg);
  text-decoration: underline;
  color: currentColor;
}

.all-posts-link:hover,
.post-list__title a:hover,
.post-list__read-more:hover {
  color: var(--accent);
}
