.about{
  height: 100%;
}
.about h1 {
  margin-bottom: 2rem;
}

.about img {
  margin: 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content{
  width: 55%;
  height: auto;
}

.about-cover {
  width:250px;
  height: 250px;
}



