.header {
  max-width: none;
  width: 100%;
  text-transform: capitalize;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.header__content {
  padding: .5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 48.75rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.site-logo {
  height: 100%;
  display: inline-block;
}

.site-logo >img{
  width: 3.85rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0rem;
}

.m-icons{
  width:2.5rem;
  height:2.5rem;
  opacity: .5;
  color:#696969;
}

.m-icons:hover{
  opacity: 1;
}

.m-icons > img{
  margin-top: 0;
  width: 100%;
}

.site-logo > span {
  height: 100%;
  display: inline-block;
}

.site-title {
  font-weight: bold;
  font-size: var(--text-xl);
}


.site-title a {
  color: rgb(47, 47, 47);
  font-weight: bold;
  text-decoration: none;
}



.intro p{
  color: #A9A9A9;
  font-size: 18px;
}

.site-title a:hover {
  color: rgb(41, 41, 41);
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: var(--text-base);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}

.nav__list a {
  /* color: rgb(117, 117, 117); */
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: linear-gradient(90deg ,red , yellow);
}

.nav__list li {
  margin-right: 1.5rem;
  padding-bottom: .3rem;
  border-bottom:1px solid #e1e1e1;
  transition: 5.;
}

.nav__list li:last-child {
  margin-right: 0;
}

/* 目標方向、開始顏色、結束顏色 */
.nav__list a:hover {
  background: linear-gradient(115deg ,#7392CC 50%, transparent 50%);
  /* background: linear-gradient(90deg ,#7392CC 100% ,#000 0); */
}
