.header {
  width: 100%;
  text-transform: capitalize;
  text-transform: uppercase;
  margin-bottom: 4rem;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  margin:0 auto;
  background: white;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  font-size: 18px;
  z-index:5;
  /* border: 1px solid #e1e1e1; */
}

.header__content {
  padding: .5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 48.75rem;
  
}

.site-logo {
  height: 100%;
  display: inline-block;
}

.site-logo >img{
  width: 3.85rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0rem;

}

.m-icons{
  width:1.5rem;
  height:1.5rem;
  opacity: .5;
  color:#696969;
}

.m-icons:hover{
  opacity: 1;
}

.m-icons > img{
  margin-top: 0;
  width: 100%;
}

.site-logo > span {
  height: 100%;
  display: inline-block;
}

.site-title {
  font-weight: bold;
  font-size: var(--text-xl);
}

.site-title a {
  color: rgb(47, 47, 47);
  font-weight: bold;
  text-decoration: none;
}

.intro p{
  color: #A9A9A9;
  font-size: 18px;
}

.site-title a:hover {
  color: rgb(41, 41, 41);
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: var(--text-base);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav__list a {
  /* color: rgb(117, 117, 117); */
  text-decoration: none;
  color: linear-gradient(90deg ,red , yellow);
  display: inline-block;  
  height: 100%;
  vertical-align: middle;
}

.nav__list a span{
  /* color: rgb(117, 117, 117); */
display: block;
width: 100%;
height: 100%;
margin-top: 4px;
}

.nav__list li {
  margin-right: 1.5rem;
  transition: 5.;
}

.nav__list li:last-child {
  margin-right: 0;
}

/* 目標方向、開始顏色、結束顏色 */
.nav__list a:hover {
  /* background: linear-gradient(115deg ,#7392CC 50%, transparent 50%); */
  /* background: linear-gradient(90deg ,#7392CC 100% ,#000 0); */
}

.nav__btn {
  width: 150px;
  height: 150px;
  background: #696969;
  border-radius: 100%;
}

@media screen and (max-width:768px) { 

  .header {
    max-width: 768px;
    width: 100%;
    font-size: 14px;
  }
  
  .nav__list li {
    margin-right: 0;
  }

  .header__content {
    padding: .5rem 0;
    justify-content: center; 
  }
  nav{
    width: 100%;
    padding: 0 1rem;
  }
  .nav__list{
    justify-content: space-around;
  }
  
  .site-logo > span {
    margin-right:20px;
    font-size: 22px;
  }
}

@media screen and (max-width:380px) { 
  .exter-btn{
    display: none;
  }
  
}
