---
layout: home
siteTitle: "Eleventy Duo"
siteIntro: "Eleventy Duo is a production-ready and SEO-friendly starter for building a blog or personal website. Comes with a customisable duotone theme, minimal and clean design"
---