---
layout: base.njk
---

<div class="about">
  <div class="about-container">
    <div class="about-cover"> 
      <img src="{{ image | url }}"  alt="">
    </div>
    <div class="about-content">
      {{ content | safe }}
    </div>
  </div>
</div>
