---
layout: base.njk
---

<div class="about">
  <div class="about-container">
    <div class="about-cover"> 
      <img src="{{ image | url }}"  alt="">
    </div>
    <div class="about-content" style="position:relative; height:260px;">
      <p style="font-size:25px; font-weight:700; color:#808080;letter-spacing:0.5px; position:absolute; top:30px; left:-30px;"> WU-KAI-WEN | WINNIE WU </p>
      <div style=" font-size:16px; font-weight:400; color:#808080;
      letter-spacing:0.2px; line-height:1.8; position:absolute; top:100px; left:-30px; text-align:justify;">
        {{ content | safe }}
      </div>
    </div>
  </div>
</div>
