---
layout: base.njk
---

<div class="about">
  <div class="about-container">
    <div class="about-cover"> 
      <img src="{{ image | url }}"  alt="">
    </div>
    <div class="about-content" style="position:relative; height:260px;">
      <p> WU-KAI-WEN | WINNIE WU </p>
      <div class="about-txt">
        {{ content | safe }}
      </div>
    </div>
  </div>
</div>
