<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }}>

    {% bundledcss %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <title>
      {{  title  | escape }}
      {% if title %}
         | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    <link rel="icon" type= “image/x-icon” href="/images/favicon.ico">

    <meta property="og:title" content="{{  title or site.name | escape }}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url + page.url }}"/>
    <meta name="twitter:card" content="summary_large_image">

    {% if site.author.twitterHandle %}
      <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    {% endif %}

    {% set desc = description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
      <meta name="description" content="{{ desc | escape }}"/>
    {% endif %}

    {% if not socialImage %}
      {% set socialImage = site.defaultSocialImage %}
    {% endif %}
    {% if socialImage %}
      <meta property="og:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
      <meta name="twitter:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
    {% endif %}

    {# Add mermaid -- start #}
      <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <script>mermaid.initialize({startOnLoad:true});</script>
    {# Add mermaid -- end #}
  </head>
  <body>
    <div class="layout-wrapper">
      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a class="site-logo" href={{ "/" | url }}>
              <img class="width:100%; height:100%;" src={{ site.logo }} alt="{{site.name}}">
              <span>{{site.name}}</span>
            </a>
          </h1>
        {% if site.headerLinks %}
            <nav class="nav">
              <ul class="nav__list">
                {% for item in site.headerLinks %}
                    {% set currentAttribute = '' %}
                    {% set externalAttribute = '' %}

                    {% if item.external %}
                      {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                    {% endif %}

                    {% if page.url == item.url %}
                      {% set currentAttribute = 'aria-current="page"' %}
                    {% endif %}

                    <li class="nav-item">
                      <a href="{{ item.url | url }}" {{ currentAttribute | safe }} {{ externalAttribute | safe }}><span>{{ item.text }}</span></a>
                    </li>
                  {% endfor %}
                  {% for item in site.socialLinks %}
                  {% set externalAttribute = '' %}
                  {% if item.external %}
                  {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                  {% endif %}
                  <li class="exter-btn">
                    <a class="m-icons" href="{{ item.url | url }}" {{ externalAttribute | safe }}>
                      <img  style="width:30px; height:30px;" src="{{ item.iconsUrl }}" alt="{{ item.text }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </header>

      <main class="main">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <div class="footer__content">
          <p class="tag-copyright">Copyright © 2023 WUKAIWEN. All rights reserved.</p>
        </div>
      </div>
    </footer>

    {% bundledjs %}
  </body>
</html>