---
layout: base
---

<header class="intro">
  {{ content | safe }}
</header>

<section class="post-list__wrapper">
  <h2 class="post-list__heading">Recent Posts</h2>

  {% set postslist = collections.posts | head(-10) %}
  {% include "posts-list.njk" %}

</section>

<a class="all-posts-link" href="{{ '/blog/' | url }}">View All Posts</a>